<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FORUM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Edit message</h2>
    <form th:action="@{/messages/save}" th:object="${msg}" method="POST">
        <input type="hidden" id="id" th:field="*{id}">
        <div class="form-group">
            <label for="text">Text:</label>
            <input type="text" id="text" placeholder="Enter name" th:field="*{text}" class="form-control">
        </div>
        <div class="form-group">
            <label for="topic">Topic:</label>
            <input type="text" readonly="readonly" id="topic" th:field="*{topicName}" class="form-control">
            <input type="text" readonly="readonly" id="topic-id" th:field="*{topicId}" class="form-control">
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" readonly="readonly" id="author" th:field="*{authorName}" class="form-control">
            <input type="text" readonly="readonly" id="author-id" th:field="*{authorId}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <hr>
    <a th:href="@{/}">Home page</a>
</div>
</body>
</html>