<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>FORUM:Topics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="height:1500px">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/topics/list}">Topics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/list}">Users</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="btn btn-outline-primary ml-sm-2" />
                </form>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" style="margin-top:80px">
        <table width="100%">
            <tr>
                <td align="left">
                    <div>
                        <a th:href="@{/topics/new}" type="button" class="btn btn-primary">Add Topic</a>
                    </div>
                </td>
                <td align="right">
                    User: <span sec:authentication="principal.username"></span>
                    Roles: <span sec:authentication="principal.authorities"></span>
                </td>
            </tr>
        </table>
    </div>

    <div class="container-fluid">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Archive</th>
                    <div sec:authorize="hasRole('ADMIN')">
                        <th>Action</th>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr th:each="temp : ${topics}">
                    <td th:text="${temp.id}"/>
                    <td th:text="${temp.name}"/>
                    <td th:text="${temp.author.username}"/>
                    <td th:text="${temp.archive}"/>
                    <div sec:authorize="hasRole('ADMIN')">
                        <td>
                            <a type="button" th:href="@{/topics/edit(id=${temp.id})}" class="btn btn-warning">Edit</a>
                            <a type="button" th:href="@{/topics/delete(id=${temp.id})}" class="btn btn-danger"
                                onclick="if(!(confirm('Are you sure?'))) return false">
                                Delete
                            </a>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div class="container-fluid">
        <a th:href="@{/hello}">Checkout the server time</a>
    </div>

</body>
</html>
